body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1148px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:1120px;
  width:1068px;
  height:980px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:980px;
}
#u1 {
  position:absolute;
  left:2px;
  top:482px;
  width:1064px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:2140px;
  width:1068px;
  height:1359px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:1359px;
}
#u3 {
  position:absolute;
  left:2px;
  top:672px;
  width:1064px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:80px;
  top:40px;
  width:1068px;
  height:1048px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:1048px;
}
#u5 {
  position:absolute;
  left:2px;
  top:516px;
  width:1064px;
  visibility:hidden;
  word-wrap:break-word;
}
